.fotos{
    background-color: black;
}

.Encabezado{
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    text-align: center;
    font-size: 25pt;
    background-image: url(fondo_galeria.jpg);
}
@media only screen and (max-width: 600px){

    .Encabezado{
        width: 100%;
    }

    .fotos{
        width: 100%;
        margin: 0;
        float: none;
        height: max-content;
    }
}